{% extends "layout.html" %}
{% block content %}
<h1 class="center">Manage Short Links</h1>
<p><a href="/new">New Link</a></p>
<br>
<div class="overflow-auto">
    <table>
      <tr>
        <th>ID</th>
        <th>Short ID</th>
        <th>Long URL</th>
        <th>Actions</th>
      </tr>
      {% for link in links %}
      <tr>
        <td>{{ link.ID }}</td>
        <td>{{ link.ShortID }}</td>
        <td>{{ link.LongURL }}</td>
        <td>
            <button class="copy-button" data-clipboard-text="{{ link.ShortID }}">Copy</button>
            <a role="button" href="/delete/{{ link.ID }}">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const copyButtons = document.getElementsByClassName("copy-button");
        for (var i = 0; i < copyButtons.length; i++) {
            const button = copyButtons[i];
            button.addEventListener("click", function() {
                const short_id = this.getAttribute("data-clipboard-text");
                const link = window.location.origin + "/" + short_id;
                navigator.clipboard.writeText(link).then(function() {
                    button.innerText = "Copied!";
                    setTimeout(function() {
                        button.innerText = "Copy";
                    }, 1000);
                });
            });
        }
    })
</script>

{% endblock %}
